mixin b-btns-back()
	+b.btns-block.light.back
			img(src='assets/svg/arrow-l.svg' alt="return")
			+e('a').item(href="/") Back


mixin b-btns-add()
	+b.btns-block.dark.add
		+e('a').item(href="/") ADD