mixin b-asideBlock(data)
	+b.aside-block
		+e.logo.top-part
			+e('a').item(href="/")
				img(src=globals.logo alt=globals.logoAlt)
				//- +e.text CRM
				//- 	+b('span') test

		+e.menu
			+b-aside-block__menu(globals.navmenu)
