mixin b-asideBlock(data)
	+b.aside-wrapper
		+b.logo.top-part
			+e('a').item(href="/")
				img(src=globals.logo alt=globals.logoAlt)
				//- +e.text CRM
				//- 	+b('span') test


		+b-asidemenu(globals.navmenu)
