include navmenu/navmenu
include btns/btns
include aside-block/aside-block
include main-content/main-content
include info-panel/info-panel
include main-block/main-block
include form/form
include table/table