  /*  navigation menu */
.sidebar
	flex-grow: 2
	overflow-y: auto

	a
		width: 100%
		padding: 18px 20px
		display: block
		transition: .2s ease-in-out
		text-decoration: none
		font-weight: bold
		overflow: hidden
		white-space: nowrap

		span
			visibility: hidden
			width: 0
			transition: background .2s ease-in

		&:hover
			text-decoration: none

		i
			margin-right: 20px
			font-size: 1.2em


/*  navigation menu END */