extends main

append params
	- page = 'index'
	- pageTitle = 'Home'

block main

	+b('section').section.section-admin-table
		+e.wrapper
			+b.aside-block
				+b-asideBlock(globals.data)

			+b.right-col
				+b-infoPanel()
				+b-main-content()
