mixin b-infoPanel()
	+b.info-panel.d-flex.flex-nowrap.align-items-center.justify-content-end
		+e.block.d-flex.justify-content-end
			+e.item
				button.btn.btn-sm.btn-outline-secondary#my_btn-font a/A

				button.btn.btn-sm.btn-outline-secondary#my_btn-bg  Light Theme

			+e.item
				a(href="/")
					i.far.fa-user

