mixin b-form()
	form(method='' action='')
		div.form-group
			input#search.form-control(type='text', placeholder='Search for something…')
			button.form-search-submit(type="submit")
				img(src="assets/svg/search.svg" alt="Search")
