-
	var globals = {
		siteTitle: 'Main page',
		logo: 'assets/svg/logo/logo-l.svg',
		logoAlt: 'Logo',
		navmenu: {
			menu: [{
					title: 'Applications',
					url: '/',
					subnav: [
						{
							title: 'Nice app 1',
							url: '/'
						},
					],
			}, {
					title: 'Documentation',
					url: '/'
			}, {
					title: 'Settings',
					url: '/'
			}, {
					title: 'Support',
					url: '/',
					subnav: [
						{
							title: 'Nice app 1',
							url: '/'
						},
					],
			}, {
					title: 'Log out',
					url: '/'
			}],
		},

		table: [{
				title: 'Title',
				role: 'SUPER_ADMIN',
				service: 'Production',
				company: 'Aboutgoods',
				status: 'connected',
				statusConnection: 'connected',
				date:'19/02/2018',
				actionMore: '...',
				actionAdd: 'assets/svg/pen-1.svg'
			},
			{
				title: 'Title',
				role: 'SUPER_ADMIN',
				service: 'Production',
				company: 'Aboutgoods',
				status: 'connected',
				statusConnection: 'connected',
				date:'19/02/2018',
				actionMore: '...',
				actionAdd: 'assets/svg/pen-1.svg'
			},

			{
				title: 'Title',
				role: 'USER',
				service: 'Production',
				company: 'Charal',
				status: 'connected',
				statusConnection: 'connected',
				date:'19/02/2018',
				actionMore: '...',
				actionAdd: 'assets/svg/pen-1.svg'
			},

			{
				title: 'Title',
				role: 'ADMIN',
				service: 'Sales',
				company: 'Nestlé',
				status: 'connected',
				statusConnection: 'connected',
				date:'29/01/2018',
				actionMore: '...',
				actionAdd: 'assets/svg/pen-1.svg'
			},

			{
				title: 'Title',
				role: 'ADMIN',
				service: 'R&D',
				company: 'Aboutgoods',
				status: 'connected',
				statusConnection: 'connected',
				date:'29/01/2018',
				actionMore: '...',
				actionAdd: 'assets/svg/pen-1.svg'
			},

			{
				title: 'Title',
				role: 'USER',
				service: 'Production',
				company: 'IRi',
				status: 'disconnected',
				statusConnection: 'disconnected',
				date:'19/02/2018',
				actionMore: '...',
				actionAdd: 'assets/svg/pen-1.svg'
			},

			{
				title: 'Title',
				role: 'USER',
				service: 'Production',
				company: 'IRi',
				status: 'disconnected',
				statusConnection: 'disconnected',
				date:'19/02/2018',
				actionMore: '...',
				actionAdd: 'assets/svg/pen-1.svg'
			}
		]
	}
