include aside-block__menu/aside-block__menu
include btns/btns
include aside-block/aside-block
include main-content/main-content
include info-panel/info-panel
include search/search
include form/form
include table/table