mixin b-main-content()
	+b('row').main-content.d-flex.flex-nowrap.flex-column.align-items-center
		+e.wrapper

			.col-sm-12
				.element-wrapper

					h6.element-header
						Sales Dashboard

					.element-content
						.row
							.col-sm-4 col-xxxl-3
								a(class="element-box el-tablo" href="#")
									.label Products Sold
									.value 57
									.trending.trending-up-basic
										span 12
										i.os-icon.os-icon-arrow-up2

							.col-sm-4 col-xxxl-3
								a(class="element-box el-tablo" href="#")
									.label Products Sold
									.value 57
									.trending.trending-up-basic
										span 12
										i.os-icon.os-icon-arrow-up2


							.col-sm-4 col-xxxl-3
								a(class="element-box el-tablo" href="#")
									.label Products Sold
									.value 57
									.trending.trending-up-basic
										span 12
										i.os-icon.os-icon-arrow-up2